<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form example</title>
</head>
<body>
    <form action="/greet" method="post">
        <label for="username">Enter your name:</label>
        <input type="text" id="username" name="username" >
        <button type="submit">Greet</button>
    </form>
</body>
</html>